:root {
    --color-bg: #282c34;
    --color-text: #c6d0f5;
    /* --color-blue: #8caaee; */
    --color-blue: rgb(148, 177, 255);
    --color-green: #a6d189;
    /* --color-purple: #babbf1; */
    --color-purple: #aaabee;
    --color-yellow: #e5c890;
    --color-red: #e78284;
    --color-orange: #ef9f76;
    --color-math: var(--color-yellow);
    --color-accent: var(--color-blue);
    --color-highlight-bg: var(--color-accent);
    --color-highlight: black;

    --tab-full-width: 3rem;
    --editor-width: min(700px, 90vw);
    --font-size: calc(var(--editor-width) / 25);
    --font-face: 'author';
    --font-weight: 200;
    --text-decoration-thickness: 0.07rem;
    --shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    --shadow-lg: 0px 1.8px 7.3px rgba(0, 0, 0, 0.071), 0px 6.3px 24.7px rgba(0, 0, 0, 0.112), 0px 30px 90px rgba(0, 0, 0, 0.2);

    --h1-classes: "middle Bold accent capital underline";
    --h2-classes: "middle bold accent small";
    --h3-classes: "underline bold accent";
    --h4-classes: "";
    --h5-classes: "";
    --h6-classes: "";

    --bold-weight: 400;
    --Bold-weight: 600;
    --math-font-size: 0.8;
    --small-font-size: 0.7;
    --large-font-size: 1.4;
    --DM-font-size: 0.85;
    --line-height: 1.1;
    --IM-font-size: 0.8;
}

@font-face {
    font-family: 'tex';
    src: url("./fonts/ligatures/normal.woff2");
    font-weight: 200;
    /* src: url("./fonts/mathjax/mjx-tex-n.woff2"); */
    /* unicode-range: U+2190, U+2192, U+2194, U+21A4, U+21A6, U+21D0, U+21D2, U+21D4; */
}

@font-face {
    font-family: 'tex';
    src: url("./fonts/ligatures/bold.woff2");
    font-weight: 400;
    /* src: url("./fonts/mathjax/mjx-tex-n.woff2"); */
    /* unicode-range: U+2190, U+2192, U+2194, U+21A4, U+21A6, U+21D0, U+21D2, U+21D4; */
}

@font-face {
    font-family: 'feijoa';
    src: url("./fonts/Feijoa-Font/Feijoa Medium.otf");
}

@font-face {
    font-family: 'author';
    src: url(./fonts/author/Author-Extralight.otf);
    font-weight: 100;
}

@font-face {
    font-family: 'author';
    src: url(./fonts/author/Author-Light.otf);
    font-weight: 200;
}

@font-face {
    font-family: 'author';
    src: url(./fonts/author/Author-Regular.otf);
    font-weight: 300;
}

@font-face {
    font-family: 'author';
    src: url(./fonts/author/Author-Medium.otf);
    font-weight: 400;
}

@font-face {
    font-family: 'author';
    src: url(./fonts/author/Author-Semibold.otf);
    font-weight: 600;
}

@font-face {
    font-family: 'author';
    src: url(./fonts/author/Author-Bold.otf);
    font-weight: 900;
}

* {
    user-select: text;
    touch-action: manipulation;
    -webkit-user-select: text;
    font-weight: var(--font-weight);
    color: var(--color-text);
    text-decoration-thickness: var(--text-decoration-thickness);
}

*:not(.DM *) {
    /* font-family: 'author', sans-serif; */
    font-family: 'tex', var(--font-face);
}

html,
body {
    margin: 0;
}

html {
    background-color: var(--color-bg);
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    scrollbar-width: thin;
}

.noisy::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500'%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3CfeBlend mode='screen'/%3E%3C/filter%3E%3Crect width='500' height='500' filter='url(%23noise)' opacity='0.5'/%3E%3C/svg%3E");
    mix-blend-mode: soft-light;
    pointer-events: none;
    border-radius: inherit;
}

.textarea {
    font-size: var(--font-size);
    max-width: var(--editor-width);
    margin: 10vw auto 0 auto;
    white-space: pre-wrap;
    text-shadow: var(--shadow);
}

.textarea p {
    margin: 0;
    line-height: calc(var(--line-height) * var(--font-size));
}

.placeholder {
    width: 100vw;
    height: 90vh;
}

.caret {
    color: white;
    position: absolute;
    background-color: currentColor;
    pointer-events: none;
    mix-blend-mode: exclusion;
    border: 0px solid currentColor;
    /* border: 0px solid white; */
    border-radius: 1px;
    /* color: black; */
    /* background-color: white; */
}

.smooth {
    transition: left 0.1s, top 0.1s, width 0.1s, height 0.1s;
}

.info {
    background-color: var(--color-bg);
    font-size: 16pt;
    position: fixed;
    bottom: 0;
    padding: 0;
}

.leftInfo {
    left: 10px;
    padding-right: 10px;
    border-top-right-radius: 10px;
}

.rightInfo {
    right: 10px;
    padding-left: 10px;
    border-top-left-radius: 10px;
}

.textarea p * {
    pointer-events: none;
    color: inherit;
    font-weight: inherit;
}

.math {
    color: var(--color-math) !important;
    font-size: calc(var(--font-size) * var(--math-font-size));
}

.underline .content {
    text-decoration: underline;
}

.small {
    font-size: calc(var(--font-size) * var(--small-font-size));
}

.large {
    font-size: calc(var(--font-size) * var(--large-font-size));
}

.middle {
    text-align: center;
}

.Bold {
    font-weight: var(--Bold-weight);
}

.bold {
    font-weight: var(--bold-weight);
}

.accent {
    color: var(--color-accent);
}

.capital {
    /* ATARAXIA */
    /* font-variant: small-caps; */
    text-transform: uppercase;
}

::highlight(selection) {
    background-color: var(--color-highlight-bg);
    color: var(--color-highlight);
}

.hidden {
    height: 0;
    transform: scaleY(0);
}

.DM {
    font-size: calc(var(--font-size) * var(--DM-font-size));
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: thin;
}

.DM * {
    pointer-events: none;
}

.DM mjx-container[display] {
    margin-top: 0.5em;
}

.textarea .DM:not(:has(+ p + p)) mjx-container[display] {
    /* not last display math */
    margin-bottom: 0;
}

.textarea .DM:has(+ p + p) mjx-container[display] {
    margin-bottom: 1.5em;
}

@property --border-offset-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
}

@keyframes spin-border-offset {
    from {
        --border-offset-angle: 0deg;
    }

    to {
        --border-offset-angle: 360deg;
    }
}

.spin_border .content {
    --border-width: 1px;
    /* --background-color: var(--color-background-secondary); */
    animation: 3s spin-border-offset linear infinite;
    border: 1px solid transparent;
    background-image: linear-gradient(var(--color-bg), var(--color-bg)),
        conic-gradient(from var(--border-offset-angle), transparent, transparent, var(--color-accent), transparent, transparent, var(--color-accent), transparent);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.wrapper:not(.editingSource) .math {
    /* display: none !important; */
    opacity: 0;
    position: absolute;
}

.wrapper.editingSource {
    position: relative;
}

.IM {
    /* color: var(--color-math) !important; */
    pointer-events: all !important;
    vertical-align: baseline;
    font-size: 0.9em;
}

.wrapper.editingSource .IM {
    position: absolute;
    border-radius: 6px;
    left: 50%;
    top: 0;
    transform: translate(-50%, -100%);
    padding: 5px;
    width: max-content;
    font-size: calc(var(--IM-font-size) * var(--font-size));
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.opaque,
.wrapper.editingSource .IM {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    box-shadow: var(--shadow);
}

.wrapper.editingSource .math {
    font-size: inherit;
    font-weight: inherit !important;
    color: var(--color-math) !important;
    text-decoration: none;
}

#modalBg {
    display: none;
    position: fixed;
    inset: 0;
    backdrop-filter: brightness(60%);
}

.modal {
    background-color: var(--color-bg);
    backdrop-filter: blur(5px);
    box-shadow: var(--shadow-lg);
    display: none;
    position: fixed;
    min-width: 40vw;
    border-radius: 20px;
    left: 50vw;
    top: 10vw;
    transform: translate(-50%, 0);
    padding: 10px;
    /* border: 1px solid var(--color-accent); */
}

.modal input {
    background: transparent;
    outline: none;
    /* border: 1px solid var(--color-accent); */
    border: none;
    display: block;
    box-sizing: border-box;
    width: 100%;
    /* border-radius: 10px; */
    font-size: var(--font-size);
    color: var(--color-text);
    padding: 5px 10px;
    margin: 0;
    margin-bottom: calc(var(--font-size) / 2);
    border-bottom: 1px solid #ffffff33;
}

.nodisplay {
    display: none;
}

.modal .list {
    /* border: 1px solid var(--color-accent); */
    border-radius: 10px;
    padding: 5px;
}

.modal .list div {
    font-size: var(--font-size);
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: border 0.1s, background-color 0.1s;
}

.modal .list div.active {
    border: 1px solid var(--color-accent);
    background-color: #fff1;
    box-shadow: var(--shadow-lg);
}
